.container{
	width: 700px !important;
}

.error{
	border: solid 2px red;
}

.expiring{
	background-color: pink;
}

h1{
	text-align: center;
}

input{
	height: 35px;
}

.item{
	width: 600px;
	border: solid 1px grey;
}

.message{
	color: red;
}

.title{
	margin-top: 15px;
	border: solid 1px grey;
	font-weight: bold;
}
